@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

hr {
  opacity: 0.5;
}

body {
  font-family: "Rubik", sans-serif;
}

.tab-content {
  text-align: center;
}

#accordion .accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: ease-out 0.3s;
}

#accordion input[type="radio"]:checked + .accordion__content {
  max-height: 500px;
  padding-top: 1.5rem;
  overflow: hidden;
  
}

